.main-banner {
  display: inline-block;
  margin-left: 40%;
}

.authbox {
  float: right;
}

button {
  float: right;
  margin-top: 35px;
  margin-right: 35px;
}

.main-nav {
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.selection-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.source-selection-form {
  padding: 5px 0 0 30px;
  margin: 10px;
  position: relative;
  height: 400px;
  width: 20%;
  min-width: 185px;
  border: 1px solid black;
}

.page-link {
  position: absolute;
  bottom: 15px;;
}

.nav-list {
  text-align: center;
}

.nav-list li {
  text-align: center;
  display: inline;
  margin: 15px;
}

.major-section-wrapper {
  padding-top: 50px;
  padding-left: 150px;
}
