* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

.main-banner {
  margin-left: 20%;
  display: inline;
  font-family: 'Faster One', cursive;
  font-size: 5em;
  height: 100px;
}

.authbox {
  float: right;
  padding-top: 35px;
}

button {
  float: right;
  margin-top: 35px;
  margin-right: 35px;
}

.authbox button{
  margin-top: 0;
}

.greeting {
  display: inline;
  margin-right: 25px;
}

.main-nav {
  height: 70px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.selection-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.source-selection-form {
  padding: 5px 0 0 30px;
  margin: 10px;
  position: relative;
  height: 400px;
  width: 20%;
  min-width: 185px;
  border: 1px solid black;
}

.page-link {
  position: absolute;
  bottom: 15px;;
}

.nav-list {
  margin: 0;
  height: 70px;
}

.nav-list li {
  padding-top: 25px;
  text-align: center;
  display: inline-block;
  height: 70px;
  width: 112px;
  margin: 0px 10px 0px 10px;
}

.nav-list a {
  height: 70px;
  text-decoration: none;
  color: black;
}

.nav-list li:hover {
  background-color: gray;
  color: white;
  text-decoration: none;
}

.nav-list .active li{
  background-color: gray;
  color: white;
}

.major-section-wrapper {
  width: 75%;
  margin: auto;
  padding-left: 15%;
}

.major-section-wrapper section {
  border-bottom: 1px solid black;
  align-items: center;
  margin:0;
  width: 80%;
}
