/*.container {
  position: relative;
  margin-bottom: 25px;
}*/

/*.nav-tabs>li.active>a {
  background-color: #eee !important;
  border-bottom: 1px solid #eee !important;
}

.header {
  height: 20vh;
  padding: 30px;
}*/

.main-banner {
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 48px;
}

.authbox {
  text-align: center;
}

.greeting {
  display: inline;
}

.auth-button {
  display: inline;
  margin: 15px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 20px;
    color: #337ab7;
    text-shadow: none;
}

.navbar-default {
  /*background-image: none;
  border: none;*/
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  /*background-color: white;*/
  /*box-shadow: none;*/
  /*color: #337ab7;*/
}

.navbar-default .navbar-nav>li>a{
  color: #337ab7;
  text-decoration: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, {
  background-image: none;
  border: none;
  border-radius: none;
  background-color: #eee;
  box-shadow: none;
}

.news-list-item:hover {
  background-color: lightblue;
}

.news-list-link:hover, .news-list-link:visited, .news-list-link:link, .news-list-link:active {
  text-decoration: none;
}

.major-section-wrapper {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;

}

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.media-image img{
  width: 150px;
}

@media(max-width: 768px){
  .media-image img{
    margin: auto;
  }
}

@media(max-width: 991px){
  .media-image {
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }

  .media-image img{
    width: 100%;
    margin: auto;
  }
}

.news-list-link, .news-list-item {
  background-color: white;
  margin:0;
  color: rgb(40, 75, 100);
  border: none;
  animation: fadeInLoad 1s;
}

.news-list-item {
  margin: 4px;
  padding: 10px;
  box-shadow: 0px 0px 4px 1px rgba(200, 200, 200, 0.7);
}

.selection-instructions {
  text-align: center;
  margin-bottom: 20px;
}

.selection-container {
  position: relative;
}

.panel {
  margin: auto;
  margin-bottom: 10px;
  max-width: 450px;
}

.panel-heading {
  text-align: center;
}

.panel-body {
  padding-left: 30%;
}
/** {
  box-sizing: border-box;
}

header {
  text-align: center;
}

.main-banner {
  margin-left: 20%;
  display: inline;
  font-family: 'Diplomata SC', cursive;
  font-size: 3.5em;
  height: 100px;
}

.authbox {
  float: right;
  padding-top: 35px;
}

button {
  float: right;
  margin-top: 35px;
  margin-right: 35px;
}

.authbox button{
  margin-top: 0;
}

.greeting {
  display: inline;
  margin-right: 25px;
}

.main-nav {
  height: 70px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.selection-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.page-link {
  position: absolute;
  bottom: 15px;;
}

.nav-list {
  margin: 0;
  height: 70px;
}

.nav-list li {
  padding-top: 25px;
  text-align: center;
  display: inline-block;
  height: 68px;
  width: 112px;
  margin: 0px 10px 0px 10px;
}

.nav-list a {
  height: 70px;
  text-decoration: none;
  color: black;
}

.nav-list li:hover {
  background-color: gray;
  color: white;
  text-decoration: none;
}

.nav-list .active li{
  background-color: gray;
  color: white;
}

.major-section-wrapper {
  width: 75%;
  margin: auto;
  padding-left: 15%;
}

.major-section-wrapper section {
  border-bottom: 1px solid black;
  align-items: center;
  margin:0;
  width: 80%;
}

.source-selection-form {
  padding: 5px 0 0 30px;
  margin: 10px;
  position: relative;
  height: 400px;
  width: 20%;
  min-width: 185px;
  border: 1px solid black;
}

.save-sources-button {
  display: block;
  width: 200px;
  font-size: 1.2em;
  border: none;
  height: 80px;
  border-radius: 4px;
  margin-right: 44%;
  margin-bottom: 25px;
  margin-top: 5px;
}

.save-sources-button:hover {
  background-color: gray;
  color: white;
}*/
